<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true">
      <div class="item item-avatar">
          <img ng-src="{{friend.picture}}" >
          <h2>{{friend.name}}</h2>
          <p>{{friend.birthDate}}</p>
      </div>

    <!--     <div class="button-bar bar-positive">
      <small ng-click="profile.toggle-gallery!=profile.toggle-gallery" class="button ion-images custom-icon"></small>
      <small ng-click="profile.toggle-friends!=profile.toggle-friends" class="button ion-android-friends custom-icon"></small>
      <small ng-click="profile.toggle-settings!=profile.toggle-settings"class="button ion-ios7-gear custom-icon"></small>
    </div> -->
      <div class="button-bar bar-positive">
          <small ui-sref="app.profile.gallery" class="button ion-images custom-icon"></small>
          <!--Need to fix the routing of friends! ASAP-->
          <small ui-sref="app.profile-detail.friends" class="button ion-android-friends custom-icon"></small>
          <small ui-sref="app.profile.settings" class="button ion-ios7-gear custom-icon"></small>
      </div>

      <ui-view name='details'></ui-view>

      <!--<ion-list ng-if="profile.toggle-friends" class="list card">
          <ion-item ng-repeat="friend in friends" class="item item-thumbnail-left" type="item-text-wrap" ui-sref="app.profile-detail({profileId: friend.id})">
              <img ng-src="{{friend.picture}}" alt="">{{friend.name}}
          </ion-item>
      </ion-list>-->
  </ion-content>
</ion-view>
