<ion-list class="list card">
        <ion-item ng-repeat="friend in Friends.friends"
                  class="item item-avatar"
                  type="item-text-wrap"
                  ui-sref="app.profile-detail({profileId: friend.id})">
            <img ng-src="{{friend.picture}}" alt="">{{friend.name}}
            <div class='item-button-right'>
                <ion-option-button class="button button-assertive" ng-click="Friends.removeFriend({{friend.id}})">
                    Delete <i class="ion-android-trash"></i>
                </ion-option-button>
            </div>
        </ion-item>
    </ion-list>
